@use 'mixins' as mixin;
@use 'variables' as variable;

.layout-app {
    padding-inline: clamp(1rem, 2vw, 4rem);
    margin: 0 auto;

    @each $name, $value in variable.$breakpoints {
        @include mixin.media($name) {
            max-width: $value;
        }
    }

    &--fluid {
        max-width: none;
    }
}

body {
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);
}

.glass-effect {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background: rgba(255, 255, 255, 0.1);

    position: absolute;
    padding: 30px;
}